src/pages/about.pug
extends ../pug/layout.pug

block meta
  - var title = 'About Us';
  title= title
  meta(name='description', content='')

block content
  section.s-about-us
    .s-about-us__container
      .s-about-us__cover
        img(src='https://images.unsplash.com/photo-1554282172-e44638f292f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80', alt='')
      .s-about-us__info
        strong.s-about-us__subtitle О нас
        h1.s-about-us__title
          span ОАО “ЦПКБХМ” — многопрофильная проектная организация
          | , выполняющая функции генерального проектировщика
        .s-about-us__desc
          p Мы разрабатываем проектно-сметную документацию по новому строительству, реконструкции, модернизации, техническому перевооружению, расширению производственных сооружений, жилых и общественных зданий. Выполняем функции генеральной проектной организации, осуществляем авторский надзор за строительством объектов по выполненной документации, а также сопровождение проектов на любой стадии.
        +btn('Наше руководство')(href='/').s-about-us__more-btn
      .s-about-us__deco-line(class='s-rellax', data-rellax-speed='-3', data-rellax-percentage='0.5')

  section.s-facts-about-us
    .s-facts-about-us__container
      .s-facts-about-us__main-info
        h2.s-facts-about-us__title
          | Мы —
          span  ведущая в Российской Федерации организация по проектированию объектов для производства средств защиты человека
          |  от воздействия поражающих факторов различной природы и специальных химических продуктов и материалов, используемых для их изготовления.
        ul.s-facts-about-us__orders
          li
            .s-facts-about-us__order-author
              img(src='img/minpromtorg-logo.svg', alt='', width='176', height='30')
            p Приказом Министерства промышленности и торговли РФ №1703 от 23.10.2013 Общество включено в Сводный реестр организаций оборонно-промышленного комплекса.
          li
            .s-facts-about-us__order-author
              img(src='img/roshim-logo.svg', alt='', width='137', height='40')
            p Указом Президента РФ от 29.10.2003 № 1265 ОАО «ЦПКБХМ» включено в состав ОАО «Корпорация «Росхимзащита».
      .s-facts-about-us__certificates
        .s-facts-about-us__certificates-intro
          p Сотрудники ОАО «ЦПКБХМ» обладают многолетним опытом разработки документации по реконструкции и техническому перевооружению специальных производств различных предприятий, регулярно проходят повышение квалификации. Мы стремимся применять новые технологии и ищем новые пути решения поставленных задач.
        .s-facts-about-us__certificates-lists
          .s-facts-about-us__certificates-group
            h3.s-facts-about-us__certificates-group-subtitle Лицензии
            ul
              li ISO 9001:2015
              li ISO / IEC 27001
          .s-facts-about-us__certificates-group
            h3.s-facts-about-us__certificates-group-subtitle Сертификаты
            ul
              li Сертификат соответствия техническим регламентам ЕАЭС
              li Сертификат ТР ТС 010/2011
              li Техническая документация и ТУ
      +accent-link('История нашего бюро', 'https://images.unsplash.com/photo-1497366811353-6870744d04b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80').s-facts-about-us__to-the-history
      .s-facts-about-us__deco-line.s-facts-about-us__deco-line--horizontal
      .s-facts-about-us__deco-line.s-facts-about-us__deco-line--vertical(class='s-rellax', data-rellax-speed='-1', data-rellax-percentage='0.5')

build/about.html
<!DOCTYPE html>
<html class="no-js s-page" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
    <meta name="google" content="notranslate">
    <title>About Us</title>
    <meta name="description" content="">
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/swiper@5/css/swiper.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&amp;family=Open+Sans:wght@400;600;700&amp;display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      
    </script>
  </head>
  <body>
    <noscript>JavaScript is disabled</noscript>
    <div class="s-page__inner">
      <div class="s-page__content">
        <header class="s-page-header">
          <div class="s-page-header__top">
            <div class="s-page-header__top-container">
              <address class="s-page-header__address">Санкт-Петербург, ул. Бумажная, д. 15</address>
              <ul class="s-page-header__contact-list">
                <li><a href="tel:+78127866740">+7 812 786-67-40</a></li>
                <li><a href="mailto:mail@cpkbhm.com">mail@cpkbhm.com</a></li>
              </ul>
            </div>
          </div>
          <div class="s-page-header__bottom">
            <div class="s-page-header__bottom-container">
              <ul class="s-page-header__logos">
                <li><a href="index.html"><img src="img/cpkbhm-logo.svg" alt="" width="186" height="65"/></a></li>
                <li><a href="http://krhz.ru/" target="_blank" rel="noopener"><img src="img/roshim-logo.svg" alt="" width="137" height="40"/></a></li>
              </ul>
              <ul class="s-page-header__nav-list">
                <li><a href="about.html">О нас</a></li>
                <li><a href="services.html">Услуги</a></li>
                <li><a href="projects.html">Проекты</a></li>
                <li><a href="">Партнеры</a></li>
                <li><a href="rent.html">Аренда</a></li>
                <li><a href="">Новости</a></li>
                <li><a href="contacts.html">Контакты</a></li>
              </ul>
              <button class="s-page-header__hamburger"><span></span></button>
              <div class="s-mobile-menu" id="s-mobile-menu">
                <div class="s-mobile-menu__inner">
                  <div class="s-mobile-menu__block s-mobile-menu__block--nav">
                    <ul>
                      <li><a href="about.html">О нас</a></li>
                      <li><a href="services.html">Услуги</a></li>
                      <li><a href="projects.html">Проекты</a></li>
                      <li><a href="">Партнеры</a></li>
                      <li><a href="rent.html">Аренда</a></li>
                      <li><a href="">Новости</a></li>
                      <li><a href="contacts.html">Контакты</a></li>
                    </ul>
                  </div>
                  <div class="s-mobile-menu__block s-mobile-menu__block--address">
                    <address>Санкт-Петербург, ул. Бумажная, д. 15</address>
                  </div>
                  <div class="s-mobile-menu__block s-mobile-menu__block--contacts">
                    <ul>
                      <li><a href="tel:+78127866740">+7 812 786-67-40</a></li>
                      <li><a href="mailto:mail@cpkbhm.com">mail@cpkbhm.com</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <section class="s-about-us">
          <div class="s-about-us__container">
            <div class="s-about-us__cover"><img src="https://images.unsplash.com/photo-1554282172-e44638f292f3?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1650&amp;q=80" alt=""></div>
            <div class="s-about-us__info"><strong class="s-about-us__subtitle">О нас</strong>
              <h1 class="s-about-us__title"><span>ОАО “ЦПКБХМ” — многопрофильная проектная организация</span>, выполняющая функции генерального проектировщика</h1>
              <div class="s-about-us__desc">
                <p>Мы разрабатываем проектно-сметную документацию по новому строительству, реконструкции, модернизации, техническому перевооружению, расширению производственных сооружений, жилых и общественных зданий. Выполняем функции генеральной проектной организации, осуществляем авторский надзор за строительством объектов по выполненной документации, а также сопровождение проектов на любой стадии.</p>
              </div><a class="s-btn s-about-us__more-btn" href="/"><span class="s-btn__label">Наше руководство</span><span class="s-btn__icon-wrapper"><span class="s-btn__icon s-btn__icon--default"></span><span class="s-btn__icon s-btn__icon--hover"></span></span></a>
            </div>
            <div class="s-about-us__deco-line s-rellax" data-rellax-speed="-3" data-rellax-percentage="0.5"></div>
          </div>
        </section>
        <section class="s-facts-about-us">
          <div class="s-facts-about-us__container">
            <div class="s-facts-about-us__main-info">
              <h2 class="s-facts-about-us__title">Мы —<span> ведущая в Российской Федерации организация по проектированию объектов для производства средств защиты человека</span> от воздействия поражающих факторов различной природы и специальных химических продуктов и материалов, используемых для их изготовления.</h2>
              <ul class="s-facts-about-us__orders">
                <li>
                  <div class="s-facts-about-us__order-author"><img src="img/minpromtorg-logo.svg" alt="" width="176" height="30"></div>
                  <p>Приказом Министерства промышленности и торговли РФ №1703 от 23.10.2013 Общество включено в Сводный реестр организаций оборонно-промышленного комплекса.</p>
                </li>
                <li>
                  <div class="s-facts-about-us__order-author"><img src="img/roshim-logo.svg" alt="" width="137" height="40"></div>
                  <p>Указом Президента РФ от 29.10.2003 № 1265 ОАО «ЦПКБХМ» включено в состав ОАО «Корпорация «Росхимзащита».</p>
                </li>
              </ul>
            </div>
            <div class="s-facts-about-us__certificates">
              <div class="s-facts-about-us__certificates-intro">
                <p>Сотрудники ОАО «ЦПКБХМ» обладают многолетним опытом разработки документации по реконструкции и техническому перевооружению специальных производств различных предприятий, регулярно проходят повышение квалификации. Мы стремимся применять новые технологии и ищем новые пути решения поставленных задач.</p>
              </div>
              <div class="s-facts-about-us__certificates-lists">
                <div class="s-facts-about-us__certificates-group">
                  <h3 class="s-facts-about-us__certificates-group-subtitle">Лицензии</h3>
                  <ul>
                    <li>ISO 9001:2015</li>
                    <li>ISO / IEC 27001</li>
                  </ul>
                </div>
                <div class="s-facts-about-us__certificates-group">
                  <h3 class="s-facts-about-us__certificates-group-subtitle">Сертификаты</h3>
                  <ul>
                    <li>Сертификат соответствия техническим регламентам ЕАЭС</li>
                    <li>Сертификат ТР ТС 010/2011</li>
                    <li>Техническая документация и ТУ</li>
                  </ul>
                </div>
              </div>
            </div><a class="s-accent-link s-facts-about-us__to-the-history" href="/">
              <h3 class="s-accent-link__title">История нашего бюро</h3>
              <div class="s-accent-link__deco-line"></div>
              <div class="s-accent-link__cover"><img src="https://images.unsplash.com/photo-1497366811353-6870744d04b2?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1950&amp;q=80" alt="alt"/></div></a>
            <div class="s-facts-about-us__deco-line s-facts-about-us__deco-line--horizontal"></div>
            <div class="s-facts-about-us__deco-line s-facts-about-us__deco-line--vertical s-rellax" data-rellax-speed="-1" data-rellax-percentage="0.5"></div>
          </div>
        </section>
      </div>
      <div class="s-page__footer-wrapper">
        <footer class="s-page-footer">
          <div class="s-page-footer__container">
            <div class="s-page-footer__main">
              <div class="s-page-footer__block s-page-footer__block--logos">
                <ul>
                  <li><a href="index.html"><img src="img/cpkbhm-logo--icon.svg" alt="" width="60" height="65"/></a></li>
                  <li><a href="http://krhz.ru/" target="_blank" rel="noopener"><img src="img/roshim-logo--icon.svg" alt="" width="53" height="56"/></a></li>
                </ul>
              </div>
              <div class="s-page-footer__block s-page-footer__block--services">
                <h3 class="s-page-footer__subtitle">Услуги</h3>
                <ul>
                  <li><a href="service.html">Проектирование консалтинг</a></li>
                  <li><a href="/">Сопровождение проектов</a></li>
                  <li><a href="/">Обследование зданий и сооружений</a></li>
                  <li><a href="/">Дополнительные услуги</a></li>
                </ul>
              </div>
              <div class="s-page-footer__block s-page-footer__block--info">
                <h3 class="s-page-footer__subtitle">Информация</h3>
                <ul>
                  <li><a href="about.html">О нас</a></li>
                  <li><a href="services.html">Услуги</a></li>
                  <li><a href="projects.html">Проекты</a></li>
                  <li><a href="">Партнеры</a></li>
                  <li><a href="rent.html">Аренда</a></li>
                  <li><a href="">Новости</a></li>
                  <li><a href="contacts.html">Контакты</a></li>
                </ul>
              </div>
              <div class="s-page-footer__block s-page-footer__block--contacts">
                <h3 class="s-page-footer__subtitle">Контакты</h3>
                <ul>
                  <li><a href="tel:+78127866740">+7 812 786-67-40</a></li>
                  <li><a href="mailto:mail@cpkbhm.com">mail@cpkbhm.com</a></li>
                </ul>
                <address>190020, Санкт-Петербург, ул. Бумажная, д. 15</address>
              </div>
            </div>
            <div class="s-page-footer__additional"><span class="s-page-footer__copyright">ОАО “ЦПКБХМ” 1956-2020</span><span class="s-page-footer__privacy"><a href="/">Противодействие коррупции</a></span><span class="s-page-footer__sitemap"><a href="/">Карта сайта</a></span></div>
          </div>
        </footer>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@5/js/swiper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/rellax@1.12.1/rellax.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
