build/history.html
<!DOCTYPE html>
<html class="no-js s-page" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
    <meta name="google" content="notranslate">
    <title>History</title>
    <meta name="description" content="">
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/swiper@5/css/swiper.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&amp;family=Open+Sans:wght@400;600;700&amp;display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      
    </script>
  </head>
  <body>
    <noscript>JavaScript is disabled</noscript>
    <div class="s-page__inner">
      <div class="s-page__content">
        <header class="s-page-header">
          <div class="s-page-header__top">
            <div class="s-page-header__top-container">
              <address class="s-page-header__address">Санкт-Петербург, ул. Бумажная, д. 15</address>
              <ul class="s-page-header__contact-list">
                <li><a href="tel:+78127866740">+7 812 786-67-40</a></li>
                <li><a href="mailto:mail@cpkbhm.com">mail@cpkbhm.com</a></li>
              </ul>
            </div>
          </div>
          <div class="s-page-header__bottom">
            <div class="s-page-header__bottom-container">
              <ul class="s-page-header__logos">
                <li><a href="index.html"><img src="img/cpkbhm-logo.svg" alt="" width="186" height="65"/></a></li>
                <li><a href="http://krhz.ru/" target="_blank" rel="noopener"><img src="img/roshim-logo.svg" alt="" width="137" height="40"/></a></li>
              </ul>
              <ul class="s-page-header__nav-list">
                <li><a href="about.html">О нас</a></li>
                <li><a href="services.html">Услуги</a></li>
                <li><a href="projects.html">Проекты</a></li>
                <li><a href="">Партнеры</a></li>
                <li><a href="rent.html">Аренда</a></li>
                <li><a href="">Новости</a></li>
                <li><a href="contacts.html">Контакты</a></li>
              </ul>
              <button class="s-page-header__hamburger"><span></span></button>
              <div class="s-mobile-menu" id="s-mobile-menu">
                <div class="s-mobile-menu__inner">
                  <div class="s-mobile-menu__block s-mobile-menu__block--nav">
                    <ul>
                      <li><a href="about.html">О нас</a></li>
                      <li><a href="services.html">Услуги</a></li>
                      <li><a href="projects.html">Проекты</a></li>
                      <li><a href="">Партнеры</a></li>
                      <li><a href="rent.html">Аренда</a></li>
                      <li><a href="">Новости</a></li>
                      <li><a href="contacts.html">Контакты</a></li>
                    </ul>
                  </div>
                  <div class="s-mobile-menu__block s-mobile-menu__block--address">
                    <address>Санкт-Петербург, ул. Бумажная, д. 15</address>
                  </div>
                  <div class="s-mobile-menu__block s-mobile-menu__block--contacts">
                    <ul>
                      <li><a href="tel:+78127866740">+7 812 786-67-40</a></li>
                      <li><a href="mailto:mail@cpkbhm.com">mail@cpkbhm.com</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <section class="s-into-the-history">
          <div class="s-into-the-history__container">
            <div class="s-into-the-history__cover"><img src="https://images.unsplash.com/photo-1543726311-cec20bfb1668?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1500&amp;q=80" alt=""></div>
            <div class="s-into-the-history__info"><strong class="s-into-the-history__subtitle">История</strong>
              <h1 class="s-into-the-history__title">Мы — многопрофильная проектная организации,<span> более 50 лет выполняющая функции генерального проектировщика</span></h1>
              <div class="s-into-the-history__desc">
                <p>Приоритетным направлением деятельности является выполнение проектных работ по реконструкции и новому строительству производственных зданий и сооружений, техперевооружению производственных мощностей и инфраструктуры предприятий, адаптация проектной документации, разработанной иностранными компаниями, в соответствии с действующими нормами и правилами на территории России.</p>
                <p>Создание Центрального проектно-конструкторского и технологического бюро химического машиностроения. Основателем и первым директором предприятия был Николай Иванович Изюмов, возглавлявший организацию с 1956 по 1978 гг.</p>
              </div>
            </div>
            <div class="s-into-the-history__deco-line s-rellax" data-rellax-speed="-3" data-rellax-percentage="0.5"></div>
          </div>
        </section>
        <div class="s-timeline">
          <div class="s-timeline__container">
            <div class="s-timeline__main">
              <ul class="s-timeline__list">
                <li class="s-timeline__item">
                  <div class="s-timeline__year">
                    <h2 class="s-timeline__year-main">1956</h2><span class="s-timeline__year-ghost s-rellax" data-rellax-speed="-0.75" data-rellax-percentage="0.5">1956</span>
                  </div>
                  <div class="s-timeline__year-desc">
                    <p>Создание Центрального проектно-конструкторского и технологического бюро химического машиностроения. Основателем и первым директором предприятия был Николай Иванович Изюмов, возглавлявший организацию с 1956 по 1978 гг. Под его руководством был создан мощный конструкторский коллектив, который успешно справлялся с задачами укрепления обороноспо-собности страны.</p>
                  </div>
                </li>
                <li class="s-timeline__item">
                  <div class="s-timeline__year">
                    <h2 class="s-timeline__year-main">1967</h2><span class="s-timeline__year-ghost s-rellax" data-rellax-speed="-0.75" data-rellax-percentage="0.5">1967</span>
                  </div>
                  <div class="s-timeline__year-desc">
                    <p>По решению МХП СССР на ЦПКБХМ были возложены задачи по проекти-рованию производств средств защиты и в составе ЦПКБХМ была создана про-ектная часть. ЦПКБХМ стала генеральной проектной организацией по проектированию производств средств защиты (СИЗОД, КСЗ, фильтрующих материалов, активных углей и катализаторов на их основе).</p>
                  </div>
                </li>
                <li class="s-timeline__item">
                  <div class="s-timeline__year">
                    <h2 class="s-timeline__year-main">1978</h2><span class="s-timeline__year-ghost s-rellax" data-rellax-speed="-0.75" data-rellax-percentage="0.5">1978</span>
                  </div>
                  <div class="s-timeline__year-desc">
                    <p>Директором ЦПКБХМ был назначен Тумасов Геннадий Петрович. При его активном участии было получено разрешение и осуществлено строительство инженерного корпуса ЦПКБХМ. Коллективом ЦПКБХМ разработаны и внедрены проекты уникальных по-точных линий по выпуску снаряжения, испытательные стенды для автомобильной промышленности, оборудование для спецхимии, разработаны проекты реконструкции десятков заводов, спроектирован новый завод в Казахстане.</p>
                  </div>
                </li>
                <li class="s-timeline__item">
                  <div class="s-timeline__year">
                    <h2 class="s-timeline__year-main">1985</h2><span class="s-timeline__year-ghost s-rellax" data-rellax-speed="-0.75" data-rellax-percentage="0.5">1985</span>
                  </div>
                  <div class="s-timeline__year-desc">
                    <p>Борисоглебский Александр Сергеевич — назначен директором ЦПКБХМ приказом МХП СССР № 128/К от 22.04.85.</p>
                  </div>
                </li>
                <li class="s-timeline__item">
                  <div class="s-timeline__year">
                    <h2 class="s-timeline__year-main">1994</h2><span class="s-timeline__year-ghost s-rellax" data-rellax-speed="-0.75" data-rellax-percentage="0.5">1994</span>
                  </div>
                  <div class="s-timeline__year-desc">
                    <p>В 1994 г., в соответствии с решением Правительства РФ, был осуществлен процесс приватизации. Государственное предприятие «ЦПКБХМ» было преоб-разовано в открытое акционерное общество «Центральное проектно-конструкторское и технологическое бюро химического машиностроения» (ОАО «ЦПКБХМ»), зарегистрировано Решением   Регистрационной палаты Мэрии Санкт-Петербурга № 10540 от 19.09.1994 (Свидетельство регистрации № 7409 от 19 сентября 1994 г.).</p>
                  </div>
                </li>
                <li class="s-timeline__item">
                  <div class="s-timeline__year">
                    <h2 class="s-timeline__year-main">2003</h2><span class="s-timeline__year-ghost s-rellax" data-rellax-speed="-0.75" data-rellax-percentage="0.5">2003</span>
                  </div>
                  <div class="s-timeline__year-desc">
                    <p>Указом Президента РФ от 29.10.2003 № 1265 ОАО «ЦПКБХМ» включено в состав ОАО «Корпорация «Росхимзащита».</p>
                  </div>
                </li>
                <li class="s-timeline__item">
                  <div class="s-timeline__year">
                    <h2 class="s-timeline__year-main">2009</h2><span class="s-timeline__year-ghost s-rellax" data-rellax-speed="-0.75" data-rellax-percentage="0.5">2009</span>
                  </div>
                  <div class="s-timeline__year-desc">
                    <p>Радзивиллович Владимир Виктор-Станиславович — назначен генеральным директором ОАО «ЦПКБХМ».</p>
                  </div>
                </li>
                <li class="s-timeline__item">
                  <div class="s-timeline__year">
                    <h2 class="s-timeline__year-main">2018</h2><span class="s-timeline__year-ghost s-rellax" data-rellax-speed="-0.75" data-rellax-percentage="0.5">2018</span>
                  </div>
                  <div class="s-timeline__year-desc">
                    <p>Шуйский Сергей Анатольевич — назначен генеральным дирек-тором ОАО «ЦПКБХМ».</p>
                  </div>
                </li>
                <li class="s-timeline__item">
                  <div class="s-timeline__year">
                    <h2 class="s-timeline__year-main">2020</h2><span class="s-timeline__year-ghost s-rellax" data-rellax-speed="-0.75" data-rellax-percentage="0.5">2020</span>
                  </div>
                  <div class="s-timeline__year-desc">
                    <p>Ветлугин Сергей Юрьевич — назначен генеральным директором.</p>
                  </div>
                </li>
              </ul>
            </div><a class="s-accent-link s-timeline__to-the-team" href="/">
              <h3 class="s-accent-link__title">Руководство бюро</h3>
              <div class="s-accent-link__deco-line"></div>
              <div class="s-accent-link__cover"><img src="https://images.unsplash.com/photo-1568992687947-868a62a9f521?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1789&amp;q=80" alt="alt"/></div></a>
          </div>
        </div>
      </div>
      <div class="s-page__footer-wrapper">
        <footer class="s-page-footer">
          <div class="s-page-footer__container">
            <div class="s-page-footer__main">
              <div class="s-page-footer__block s-page-footer__block--logos">
                <ul>
                  <li><a href="index.html"><img src="img/cpkbhm-logo--icon.svg" alt="" width="60" height="65"/></a></li>
                  <li><a href="http://krhz.ru/" target="_blank" rel="noopener"><img src="img/roshim-logo--icon.svg" alt="" width="53" height="56"/></a></li>
                </ul>
              </div>
              <div class="s-page-footer__block s-page-footer__block--services">
                <h3 class="s-page-footer__subtitle">Услуги</h3>
                <ul>
                  <li><a href="service.html">Проектирование консалтинг</a></li>
                  <li><a href="/">Сопровождение проектов</a></li>
                  <li><a href="/">Обследование зданий и сооружений</a></li>
                  <li><a href="/">Дополнительные услуги</a></li>
                </ul>
              </div>
              <div class="s-page-footer__block s-page-footer__block--info">
                <h3 class="s-page-footer__subtitle">Информация</h3>
                <ul>
                  <li><a href="about.html">О нас</a></li>
                  <li><a href="services.html">Услуги</a></li>
                  <li><a href="projects.html">Проекты</a></li>
                  <li><a href="">Партнеры</a></li>
                  <li><a href="rent.html">Аренда</a></li>
                  <li><a href="">Новости</a></li>
                  <li><a href="contacts.html">Контакты</a></li>
                </ul>
              </div>
              <div class="s-page-footer__block s-page-footer__block--contacts">
                <h3 class="s-page-footer__subtitle">Контакты</h3>
                <ul>
                  <li><a href="tel:+78127866740">+7 812 786-67-40</a></li>
                  <li><a href="mailto:mail@cpkbhm.com">mail@cpkbhm.com</a></li>
                </ul>
                <address>190020, Санкт-Петербург, ул. Бумажная, д. 15</address>
              </div>
            </div>
            <div class="s-page-footer__additional"><span class="s-page-footer__copyright">ОАО “ЦПКБХМ” 1956-2020</span><span class="s-page-footer__privacy"><a href="/">Противодействие коррупции</a></span><span class="s-page-footer__sitemap"><a href="/">Карта сайта</a></span></div>
          </div>
        </footer>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@5/js/swiper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/rellax@1.12.1/rellax.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>

src/pages/history.pug
extends ../pug/layout.pug

block meta
  - var title = 'History';
  title= title
  meta(name='description', content='')

block content
  section.s-into-the-history
    .s-into-the-history__container
      .s-into-the-history__cover
        img(src='https://images.unsplash.com/photo-1543726311-cec20bfb1668?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80', alt='')
      .s-into-the-history__info
        strong.s-into-the-history__subtitle История
        h1.s-into-the-history__title
          | Мы — многопрофильная проектная организации,
          span  более 50 лет выполняющая функции генерального проектировщика
        .s-into-the-history__desc
          p Приоритетным направлением деятельности является выполнение проектных работ по реконструкции и новому строительству производственных зданий и сооружений, техперевооружению производственных мощностей и инфраструктуры предприятий, адаптация проектной документации, разработанной иностранными компаниями, в соответствии с действующими нормами и правилами на территории России.
          p Создание Центрального проектно-конструкторского и технологического бюро химического машиностроения. Основателем и первым директором предприятия был Николай Иванович Изюмов, возглавлявший организацию с 1956 по 1978 гг.
      .s-into-the-history__deco-line(class='s-rellax', data-rellax-speed='-3', data-rellax-percentage='0.5')

  .s-timeline
    .s-timeline__container
      .s-timeline__main
        ul.s-timeline__list
          li.s-timeline__item
            .s-timeline__year
              h2.s-timeline__year-main 1956
              span.s-timeline__year-ghost(class='s-rellax', data-rellax-speed='-0.75', data-rellax-percentage='0.5') 1956
            .s-timeline__year-desc
              p Создание Центрального проектно-конструкторского и технологического бюро химического машиностроения. Основателем и первым директором предприятия был Николай Иванович Изюмов, возглавлявший организацию с 1956 по 1978 гг. Под его руководством был создан мощный конструкторский коллектив, который успешно справлялся с задачами укрепления обороноспо-собности страны.
          li.s-timeline__item
            .s-timeline__year
              h2.s-timeline__year-main 1967
              span.s-timeline__year-ghost(class='s-rellax', data-rellax-speed='-0.75', data-rellax-percentage='0.5') 1967
            .s-timeline__year-desc
              p По решению МХП СССР на ЦПКБХМ были возложены задачи по проекти-рованию производств средств защиты и в составе ЦПКБХМ была создана про-ектная часть. ЦПКБХМ стала генеральной проектной организацией по проектированию производств средств защиты (СИЗОД, КСЗ, фильтрующих материалов, активных углей и катализаторов на их основе).
          li.s-timeline__item
            .s-timeline__year
              h2.s-timeline__year-main 1978
              span.s-timeline__year-ghost(class='s-rellax', data-rellax-speed='-0.75', data-rellax-percentage='0.5') 1978
            .s-timeline__year-desc
              p Директором ЦПКБХМ был назначен Тумасов Геннадий Петрович. При его активном участии было получено разрешение и осуществлено строительство инженерного корпуса ЦПКБХМ. Коллективом ЦПКБХМ разработаны и внедрены проекты уникальных по-точных линий по выпуску снаряжения, испытательные стенды для автомобильной промышленности, оборудование для спецхимии, разработаны проекты реконструкции десятков заводов, спроектирован новый завод в Казахстане.
          li.s-timeline__item
            .s-timeline__year
              h2.s-timeline__year-main 1985
              span.s-timeline__year-ghost(class='s-rellax', data-rellax-speed='-0.75', data-rellax-percentage='0.5') 1985
            .s-timeline__year-desc
              p Борисоглебский Александр Сергеевич — назначен директором ЦПКБХМ приказом МХП СССР № 128/К от 22.04.85.
          li.s-timeline__item
            .s-timeline__year
              h2.s-timeline__year-main 1994
              span.s-timeline__year-ghost(class='s-rellax', data-rellax-speed='-0.75', data-rellax-percentage='0.5') 1994
            .s-timeline__year-desc
              p В 1994 г., в соответствии с решением Правительства РФ, был осуществлен процесс приватизации. Государственное предприятие «ЦПКБХМ» было преоб-разовано в открытое акционерное общество «Центральное проектно-конструкторское и технологическое бюро химического машиностроения» (ОАО «ЦПКБХМ»), зарегистрировано Решением   Регистрационной палаты Мэрии Санкт-Петербурга № 10540 от 19.09.1994 (Свидетельство регистрации № 7409 от 19 сентября 1994 г.).
          li.s-timeline__item
            .s-timeline__year
              h2.s-timeline__year-main 2003
              span.s-timeline__year-ghost(class='s-rellax', data-rellax-speed='-0.75', data-rellax-percentage='0.5') 2003
            .s-timeline__year-desc
              p Указом Президента РФ от 29.10.2003 № 1265 ОАО «ЦПКБХМ» включено в состав ОАО «Корпорация «Росхимзащита».
          li.s-timeline__item
            .s-timeline__year
              h2.s-timeline__year-main 2009
              span.s-timeline__year-ghost(class='s-rellax', data-rellax-speed='-0.75', data-rellax-percentage='0.5') 2009
            .s-timeline__year-desc
              p Радзивиллович Владимир Виктор-Станиславович — назначен генеральным директором ОАО «ЦПКБХМ».
          li.s-timeline__item
            .s-timeline__year
              h2.s-timeline__year-main 2018
              span.s-timeline__year-ghost(class='s-rellax', data-rellax-speed='-0.75', data-rellax-percentage='0.5') 2018
            .s-timeline__year-desc
              p Шуйский Сергей Анатольевич — назначен генеральным дирек-тором ОАО «ЦПКБХМ».
          li.s-timeline__item
            .s-timeline__year
              h2.s-timeline__year-main 2020
              span.s-timeline__year-ghost(class='s-rellax', data-rellax-speed='-0.75', data-rellax-percentage='0.5') 2020
            .s-timeline__year-desc
              p Ветлугин Сергей Юрьевич — назначен генеральным директором.
      +accent-link('Руководство бюро', 'https://images.unsplash.com/photo-1568992687947-868a62a9f521?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80').s-timeline__to-the-team
