src/pages/projects.pug
extends ../pug/layout.pug

block meta
  - var title = 'Projects';
  title= title
  meta(name='description', content='')

block content
  section.s-main-projects
    .s-main-projects__container
      .s-main-projects__intro
        strong.s-main-projects__subtitle Проекты
        h1.s-main-projects__title Наши основные проекты
        .s-main-projects__deco-line(class='s-rellax', data-rellax-speed='-3', data-rellax-percentage='0.5')
      ul.s-main-projects__list
        li.s-main-projects__item
          +project-card({
            title: 'Audio центр Петербург',
            date: '2020',
            cover: 'https://images.unsplash.com/photo-1597007030680-cad20bd72a30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80'
          })
        li.s-main-projects__item
          +project-card({
            title: 'Север Ликвид Газ',
            date: '2020',
            cover: 'https://images.unsplash.com/photo-1469510038946-6bf892bbe9d6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80'
          })
        li.s-main-projects__item
          +project-card({
            title: 'Союз ТТМ Калининград',
            date: '2020',
            cover: 'https://images.unsplash.com/photo-1517816981644-e0e3de7743e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80'
          })
        li.s-main-projects__item
          +project-card({
            title: 'Юникосметик',
            date: '2019',
            cover: 'https://images.unsplash.com/photo-1587145679880-7059d484b3ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80'
          })

  section.s-other-projects
    .s-other-projects__container
      .s-other-projects__intro
        h2.s-other-projects__title Другие проекты
      .s-other-projects__info
        ul.s-other-projects__list
          li.s-other-projects__item(data-year='2018') Audio центр Петербург
          li.s-other-projects__item(data-year='2018') Север Ликвид Газ
          li.s-other-projects__item(data-year='2017') Юникосметик
          li.s-other-projects__item(data-year='2016') Союз ТТМ Калининград
          li.s-other-projects__item(data-year='2016') Согаз
          li.s-other-projects__item(data-year='2014') МЭС Северо-запада
          li.s-other-projects__item(data-year='2011') Гранд каньон

build/projects.html
<!DOCTYPE html>
<html class="no-js s-page" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
    <meta name="google" content="notranslate">
    <title>Projects</title>
    <meta name="description" content="">
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/swiper@5/css/swiper.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&amp;family=Open+Sans:wght@400;600;700&amp;display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      
    </script>
  </head>
  <body>
    <noscript>JavaScript is disabled</noscript>
    <div class="s-page__inner">
      <div class="s-page__content">
        <header class="s-page-header">
          <div class="s-page-header__top">
            <div class="s-page-header__top-container">
              <address class="s-page-header__address">Санкт-Петербург, ул. Бумажная, д. 15</address>
              <ul class="s-page-header__contact-list">
                <li><a href="tel:+78127866740">+7 812 786-67-40</a></li>
                <li><a href="mailto:mail@cpkbhm.com">mail@cpkbhm.com</a></li>
              </ul>
            </div>
          </div>
          <div class="s-page-header__bottom">
            <div class="s-page-header__bottom-container">
              <ul class="s-page-header__logos">
                <li><a href="index.html"><img src="img/cpkbhm-logo.svg" alt="" width="186" height="65"/></a></li>
                <li><a href="http://krhz.ru/" target="_blank" rel="noopener"><img src="img/roshim-logo.svg" alt="" width="137" height="40"/></a></li>
              </ul>
              <ul class="s-page-header__nav-list">
                <li><a href="about.html">О нас</a></li>
                <li><a href="services.html">Услуги</a></li>
                <li><a href="projects.html">Проекты</a></li>
                <li><a href="">Партнеры</a></li>
                <li><a href="rent.html">Аренда</a></li>
                <li><a href="">Новости</a></li>
                <li><a href="contacts.html">Контакты</a></li>
              </ul>
              <button class="s-page-header__hamburger"><span></span></button>
              <div class="s-mobile-menu" id="s-mobile-menu">
                <div class="s-mobile-menu__inner">
                  <div class="s-mobile-menu__block s-mobile-menu__block--nav">
                    <ul>
                      <li><a href="about.html">О нас</a></li>
                      <li><a href="services.html">Услуги</a></li>
                      <li><a href="projects.html">Проекты</a></li>
                      <li><a href="">Партнеры</a></li>
                      <li><a href="rent.html">Аренда</a></li>
                      <li><a href="">Новости</a></li>
                      <li><a href="contacts.html">Контакты</a></li>
                    </ul>
                  </div>
                  <div class="s-mobile-menu__block s-mobile-menu__block--address">
                    <address>Санкт-Петербург, ул. Бумажная, д. 15</address>
                  </div>
                  <div class="s-mobile-menu__block s-mobile-menu__block--contacts">
                    <ul>
                      <li><a href="tel:+78127866740">+7 812 786-67-40</a></li>
                      <li><a href="mailto:mail@cpkbhm.com">mail@cpkbhm.com</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <section class="s-main-projects">
          <div class="s-main-projects__container">
            <div class="s-main-projects__intro"><strong class="s-main-projects__subtitle">Проекты</strong>
              <h1 class="s-main-projects__title">Наши основные проекты</h1>
              <div class="s-main-projects__deco-line s-rellax" data-rellax-speed="-3" data-rellax-percentage="0.5"></div>
            </div>
            <ul class="s-main-projects__list">
              <li class="s-main-projects__item"><a class="s-project-card" href="project.html">
                  <h2 class="s-project-card__title">Audio центр Петербург</h2><span class="s-project-card__date">2020</span><span class="s-project-card__arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" viewbox="0 0 16 10" width="16" height="10">
                      <path fill-rule="evenodd" d="M10.9887 0L16 5L10.9887 10L9.93202 8.94574L13.1395 5.74548H0V4.25452H13.1395L9.93202 1.05427L10.9887 0Z" clip-rule="evenodd"></path>
                    </svg></span>
                  <div class="s-project-card__cover"><img src="https://images.unsplash.com/photo-1597007030680-cad20bd72a30?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1500&amp;q=80" alt=""/></div></a>
              </li>
              <li class="s-main-projects__item"><a class="s-project-card" href="project.html">
                  <h2 class="s-project-card__title">Север Ликвид Газ</h2><span class="s-project-card__date">2020</span><span class="s-project-card__arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" viewbox="0 0 16 10" width="16" height="10">
                      <path fill-rule="evenodd" d="M10.9887 0L16 5L10.9887 10L9.93202 8.94574L13.1395 5.74548H0V4.25452H13.1395L9.93202 1.05427L10.9887 0Z" clip-rule="evenodd"></path>
                    </svg></span>
                  <div class="s-project-card__cover"><img src="https://images.unsplash.com/photo-1469510038946-6bf892bbe9d6?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1500&amp;q=80" alt=""/></div></a>
              </li>
              <li class="s-main-projects__item"><a class="s-project-card" href="project.html">
                  <h2 class="s-project-card__title">Союз ТТМ Калининград</h2><span class="s-project-card__date">2020</span><span class="s-project-card__arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" viewbox="0 0 16 10" width="16" height="10">
                      <path fill-rule="evenodd" d="M10.9887 0L16 5L10.9887 10L9.93202 8.94574L13.1395 5.74548H0V4.25452H13.1395L9.93202 1.05427L10.9887 0Z" clip-rule="evenodd"></path>
                    </svg></span>
                  <div class="s-project-card__cover"><img src="https://images.unsplash.com/photo-1517816981644-e0e3de7743e5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1500&amp;q=80" alt=""/></div></a>
              </li>
              <li class="s-main-projects__item"><a class="s-project-card" href="project.html">
                  <h2 class="s-project-card__title">Юникосметик</h2><span class="s-project-card__date">2019</span><span class="s-project-card__arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" viewbox="0 0 16 10" width="16" height="10">
                      <path fill-rule="evenodd" d="M10.9887 0L16 5L10.9887 10L9.93202 8.94574L13.1395 5.74548H0V4.25452H13.1395L9.93202 1.05427L10.9887 0Z" clip-rule="evenodd"></path>
                    </svg></span>
                  <div class="s-project-card__cover"><img src="https://images.unsplash.com/photo-1587145679880-7059d484b3ff?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1650&amp;q=80" alt=""/></div></a>
              </li>
            </ul>
          </div>
        </section>
        <section class="s-other-projects">
          <div class="s-other-projects__container">
            <div class="s-other-projects__intro">
              <h2 class="s-other-projects__title">Другие проекты</h2>
            </div>
            <div class="s-other-projects__info">
              <ul class="s-other-projects__list">
                <li class="s-other-projects__item" data-year="2018">Audio центр Петербург</li>
                <li class="s-other-projects__item" data-year="2018">Север Ликвид Газ</li>
                <li class="s-other-projects__item" data-year="2017">Юникосметик</li>
                <li class="s-other-projects__item" data-year="2016">Союз ТТМ Калининград</li>
                <li class="s-other-projects__item" data-year="2016">Согаз</li>
                <li class="s-other-projects__item" data-year="2014">МЭС Северо-запада</li>
                <li class="s-other-projects__item" data-year="2011">Гранд каньон</li>
              </ul>
            </div>
          </div>
        </section>
      </div>
      <div class="s-page__footer-wrapper">
        <footer class="s-page-footer">
          <div class="s-page-footer__container">
            <div class="s-page-footer__main">
              <div class="s-page-footer__block s-page-footer__block--logos">
                <ul>
                  <li><a href="index.html"><img src="img/cpkbhm-logo--icon.svg" alt="" width="60" height="65"/></a></li>
                  <li><a href="http://krhz.ru/" target="_blank" rel="noopener"><img src="img/roshim-logo--icon.svg" alt="" width="53" height="56"/></a></li>
                </ul>
              </div>
              <div class="s-page-footer__block s-page-footer__block--services">
                <h3 class="s-page-footer__subtitle">Услуги</h3>
                <ul>
                  <li><a href="service.html">Проектирование консалтинг</a></li>
                  <li><a href="/">Сопровождение проектов</a></li>
                  <li><a href="/">Обследование зданий и сооружений</a></li>
                  <li><a href="/">Дополнительные услуги</a></li>
                </ul>
              </div>
              <div class="s-page-footer__block s-page-footer__block--info">
                <h3 class="s-page-footer__subtitle">Информация</h3>
                <ul>
                  <li><a href="about.html">О нас</a></li>
                  <li><a href="services.html">Услуги</a></li>
                  <li><a href="projects.html">Проекты</a></li>
                  <li><a href="">Партнеры</a></li>
                  <li><a href="rent.html">Аренда</a></li>
                  <li><a href="">Новости</a></li>
                  <li><a href="contacts.html">Контакты</a></li>
                </ul>
              </div>
              <div class="s-page-footer__block s-page-footer__block--contacts">
                <h3 class="s-page-footer__subtitle">Контакты</h3>
                <ul>
                  <li><a href="tel:+78127866740">+7 812 786-67-40</a></li>
                  <li><a href="mailto:mail@cpkbhm.com">mail@cpkbhm.com</a></li>
                </ul>
                <address>190020, Санкт-Петербург, ул. Бумажная, д. 15</address>
              </div>
            </div>
            <div class="s-page-footer__additional"><span class="s-page-footer__copyright">ОАО “ЦПКБХМ” 1956-2020</span><span class="s-page-footer__privacy"><a href="/">Противодействие коррупции</a></span><span class="s-page-footer__sitemap"><a href="/">Карта сайта</a></span></div>
          </div>
        </footer>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@5/js/swiper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/rellax@1.12.1/rellax.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
