src/pages/rent.pug
extends ../pug/layout.pug

block meta
  - var title = 'Rent';
  title= title
  meta(name='description', content='')

block content
  section.s-rent
    .s-rent__container
      .s-rent__cover
        img(src='https://images.unsplash.com/photo-1536179247184-595913ca4a28?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2775&q=80', alt='')
      .s-rent__info
        strong.s-rent__subtitle Аренда
        h1.s-rent__title
          | ОАО «ЦПКБХМ»
          br
          span  предлагает в аренду от собственника офисные помещения
          br
          |  в пешеходной доступности от станции метро Нарвская.
        .s-rent__desc
          span.s-rent__desc-title Характеристики:
          ul
            li площадь до 160 кв.м.;
            li разнообразные планировки;
            li высота потолка от 2,5 м до 6 м;
            li круглосуточная охрана;
            li возможность использовать парковочные места;
            li столовая;
            li 2 км от Западного скоростного диаметра (ЗСД).
      .s-rent__deco-line(class='s-rellax', data-rellax-speed='-3', data-rellax-percentage='0.5')

  section.s-providers
    .s-providers__container
      .s-providers__main-info
        h2.s-providers__title
          span  Телекоммуникационное обслуживание
          |  арендаторов производится на основании отдельных договоров, заключаемых с компаниями-поставщиками данных услуг. В настоящее время партнерами ОАО «ЦПКБХМ» являются компании Eтелеком, Ростелеком, Морской экспресс, МТС, Мегафон.
      .s-providers__additional-info
        ul.s-providers__list
          li
            .s-providers__icon
              img(src='img/rostelecom.svg', alt='', width='115', height='30')
          li
            .s-providers__icon
              img(src='img/etelecom.svg', alt='', width='112', height='40')
          li
            .s-providers__icon
              img(src='img/megafon.svg', alt='', width='141', height='25')
          li
            .s-providers__icon
              img(src='img/mts.svg', alt='', width='80', height='20')
      .s-providers__deco-line.s-providers__deco-line--horizontal
      .s-providers__deco-line.s-providers__deco-line--vertical(class='s-rellax', data-rellax-speed='-1', data-rellax-percentage='0.5')

  .s-rent-location
    .s-rent-location__container
      .s-rent-location__info
        .s-rent-location__address
          h3.s-rent-location__subtitle Адрес
          address.s-rent-location__location 190020, Санкт-Петербург, ул. Бумажная, дом 15
        .s-rent-location__contacts
          .s-rent-location__contacts-intro
            p По вопросам аренды обращайтесь в отдел по работе с недвижимостью по телефону или электронной почте:
          ul.s-rent-location__contacts-list
            li
              h3.s-rent-location__subtitle Телефон
              a(href='tel:+79557121084') +7 955-712-10-84
            li
              h3.s-rent-location__subtitle E-mail
              a(href='mailto:arenda@cpkbhm.com') arenda@cpkbhm.com
      .s-rent-location__map
        img(src='img/map-example-small.jpg', alt='')
      .s-rent-location__deco-line(class='s-rellax', data-rellax-speed='1', data-rellax-percentage='0.5')

build/rent.html
<!DOCTYPE html>
<html class="no-js s-page" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
    <meta name="google" content="notranslate">
    <title>Rent</title>
    <meta name="description" content="">
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/swiper@5/css/swiper.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&amp;family=Open+Sans:wght@400;600;700&amp;display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      
    </script>
  </head>
  <body>
    <noscript>JavaScript is disabled</noscript>
    <div class="s-page__inner">
      <div class="s-page__content">
        <header class="s-page-header">
          <div class="s-page-header__top">
            <div class="s-page-header__top-container">
              <address class="s-page-header__address">Санкт-Петербург, ул. Бумажная, д. 15</address>
              <ul class="s-page-header__contact-list">
                <li><a href="tel:+78127866740">+7 812 786-67-40</a></li>
                <li><a href="mailto:mail@cpkbhm.com">mail@cpkbhm.com</a></li>
              </ul>
            </div>
          </div>
          <div class="s-page-header__bottom">
            <div class="s-page-header__bottom-container">
              <ul class="s-page-header__logos">
                <li><a href="index.html"><img src="img/cpkbhm-logo.svg" alt="" width="186" height="65"/></a></li>
                <li><a href="http://krhz.ru/" target="_blank" rel="noopener"><img src="img/roshim-logo.svg" alt="" width="137" height="40"/></a></li>
              </ul>
              <ul class="s-page-header__nav-list">
                <li><a href="about.html">О нас</a></li>
                <li><a href="services.html">Услуги</a></li>
                <li><a href="projects.html">Проекты</a></li>
                <li><a href="">Партнеры</a></li>
                <li><a href="rent.html">Аренда</a></li>
                <li><a href="">Новости</a></li>
                <li><a href="contacts.html">Контакты</a></li>
              </ul>
              <button class="s-page-header__hamburger"><span></span></button>
              <div class="s-mobile-menu" id="s-mobile-menu">
                <div class="s-mobile-menu__inner">
                  <div class="s-mobile-menu__block s-mobile-menu__block--nav">
                    <ul>
                      <li><a href="about.html">О нас</a></li>
                      <li><a href="services.html">Услуги</a></li>
                      <li><a href="projects.html">Проекты</a></li>
                      <li><a href="">Партнеры</a></li>
                      <li><a href="rent.html">Аренда</a></li>
                      <li><a href="">Новости</a></li>
                      <li><a href="contacts.html">Контакты</a></li>
                    </ul>
                  </div>
                  <div class="s-mobile-menu__block s-mobile-menu__block--address">
                    <address>Санкт-Петербург, ул. Бумажная, д. 15</address>
                  </div>
                  <div class="s-mobile-menu__block s-mobile-menu__block--contacts">
                    <ul>
                      <li><a href="tel:+78127866740">+7 812 786-67-40</a></li>
                      <li><a href="mailto:mail@cpkbhm.com">mail@cpkbhm.com</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <section class="s-rent">
          <div class="s-rent__container">
            <div class="s-rent__cover"><img src="https://images.unsplash.com/photo-1536179247184-595913ca4a28?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2775&amp;q=80" alt=""></div>
            <div class="s-rent__info"><strong class="s-rent__subtitle">Аренда</strong>
              <h1 class="s-rent__title">ОАО «ЦПКБХМ»<br><span> предлагает в аренду от собственника офисные помещения</span><br> в пешеходной доступности от станции метро Нарвская.</h1>
              <div class="s-rent__desc"><span class="s-rent__desc-title">Характеристики:</span>
                <ul>
                  <li>площадь до 160 кв.м.;</li>
                  <li>разнообразные планировки;</li>
                  <li>высота потолка от 2,5 м до 6 м;</li>
                  <li>круглосуточная охрана;</li>
                  <li>возможность использовать парковочные места;</li>
                  <li>столовая;</li>
                  <li>2 км от Западного скоростного диаметра (ЗСД).</li>
                </ul>
              </div>
            </div>
            <div class="s-rent__deco-line s-rellax" data-rellax-speed="-3" data-rellax-percentage="0.5"></div>
          </div>
        </section>
        <section class="s-providers">
          <div class="s-providers__container">
            <div class="s-providers__main-info">
              <h2 class="s-providers__title"><span> Телекоммуникационное обслуживание</span> арендаторов производится на основании отдельных договоров, заключаемых с компаниями-поставщиками данных услуг. В настоящее время партнерами ОАО «ЦПКБХМ» являются компании Eтелеком, Ростелеком, Морской экспресс, МТС, Мегафон.</h2>
            </div>
            <div class="s-providers__additional-info">
              <ul class="s-providers__list">
                <li>
                  <div class="s-providers__icon"><img src="img/rostelecom.svg" alt="" width="115" height="30"></div>
                </li>
                <li>
                  <div class="s-providers__icon"><img src="img/etelecom.svg" alt="" width="112" height="40"></div>
                </li>
                <li>
                  <div class="s-providers__icon"><img src="img/megafon.svg" alt="" width="141" height="25"></div>
                </li>
                <li>
                  <div class="s-providers__icon"><img src="img/mts.svg" alt="" width="80" height="20"></div>
                </li>
              </ul>
            </div>
            <div class="s-providers__deco-line s-providers__deco-line--horizontal"></div>
            <div class="s-providers__deco-line s-providers__deco-line--vertical s-rellax" data-rellax-speed="-1" data-rellax-percentage="0.5"></div>
          </div>
        </section>
        <div class="s-rent-location">
          <div class="s-rent-location__container">
            <div class="s-rent-location__info">
              <div class="s-rent-location__address">
                <h3 class="s-rent-location__subtitle">Адрес</h3>
                <address class="s-rent-location__location">190020, Санкт-Петербург, ул. Бумажная, дом 15</address>
              </div>
              <div class="s-rent-location__contacts">
                <div class="s-rent-location__contacts-intro">
                  <p>По вопросам аренды обращайтесь в отдел по работе с недвижимостью по телефону или электронной почте:</p>
                </div>
                <ul class="s-rent-location__contacts-list">
                  <li>
                    <h3 class="s-rent-location__subtitle">Телефон</h3><a href="tel:+79557121084">+7 955-712-10-84</a>
                  </li>
                  <li>
                    <h3 class="s-rent-location__subtitle">E-mail</h3><a href="mailto:arenda@cpkbhm.com">arenda@cpkbhm.com</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="s-rent-location__map"><img src="img/map-example-small.jpg" alt=""></div>
            <div class="s-rent-location__deco-line s-rellax" data-rellax-speed="1" data-rellax-percentage="0.5"></div>
          </div>
        </div>
      </div>
      <div class="s-page__footer-wrapper">
        <footer class="s-page-footer">
          <div class="s-page-footer__container">
            <div class="s-page-footer__main">
              <div class="s-page-footer__block s-page-footer__block--logos">
                <ul>
                  <li><a href="index.html"><img src="img/cpkbhm-logo--icon.svg" alt="" width="60" height="65"/></a></li>
                  <li><a href="http://krhz.ru/" target="_blank" rel="noopener"><img src="img/roshim-logo--icon.svg" alt="" width="53" height="56"/></a></li>
                </ul>
              </div>
              <div class="s-page-footer__block s-page-footer__block--services">
                <h3 class="s-page-footer__subtitle">Услуги</h3>
                <ul>
                  <li><a href="service.html">Проектирование консалтинг</a></li>
                  <li><a href="/">Сопровождение проектов</a></li>
                  <li><a href="/">Обследование зданий и сооружений</a></li>
                  <li><a href="/">Дополнительные услуги</a></li>
                </ul>
              </div>
              <div class="s-page-footer__block s-page-footer__block--info">
                <h3 class="s-page-footer__subtitle">Информация</h3>
                <ul>
                  <li><a href="about.html">О нас</a></li>
                  <li><a href="services.html">Услуги</a></li>
                  <li><a href="projects.html">Проекты</a></li>
                  <li><a href="">Партнеры</a></li>
                  <li><a href="rent.html">Аренда</a></li>
                  <li><a href="">Новости</a></li>
                  <li><a href="contacts.html">Контакты</a></li>
                </ul>
              </div>
              <div class="s-page-footer__block s-page-footer__block--contacts">
                <h3 class="s-page-footer__subtitle">Контакты</h3>
                <ul>
                  <li><a href="tel:+78127866740">+7 812 786-67-40</a></li>
                  <li><a href="mailto:mail@cpkbhm.com">mail@cpkbhm.com</a></li>
                </ul>
                <address>190020, Санкт-Петербург, ул. Бумажная, д. 15</address>
              </div>
            </div>
            <div class="s-page-footer__additional"><span class="s-page-footer__copyright">ОАО “ЦПКБХМ” 1956-2020</span><span class="s-page-footer__privacy"><a href="/">Противодействие коррупции</a></span><span class="s-page-footer__sitemap"><a href="/">Карта сайта</a></span></div>
          </div>
        </footer>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@5/js/swiper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/rellax@1.12.1/rellax.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
